In [8]:
from pyspark.sql import SparkSession

In [9]:
spark = SparkSession.builder.appName('practice2').getOrCreate()

In [10]:
spark

In [14]:
df = spark.read.csv('heart.csv', header=True)

In [15]:
df.show()

+---+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+
|Age|Sex|ChestPainType|RestingBP|Cholesterol|FastingBS|RestingECG|MaxHR|ExerciseAngina|Oldpeak|ST_Slope|HeartDisease|
+---+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+
| 40|  M|          ATA|      140|        289|        0|    Normal|  172|             N|      0|      Up|           0|
| 49|  F|          NAP|      160|        180|        0|    Normal|  156|             N|      1|    Flat|           1|
| 37|  M|          ATA|      130|        283|        0|        ST|   98|             N|      0|      Up|           0|
| 48|  F|          ASY|      138|        214|        0|    Normal|  108|             Y|    1.5|    Flat|           1|
| 54|  M|          NAP|      150|        195|        0|    Normal|  122|             N|      0|      Up|           0|
| 39|  M|          NAP|      120|        339|        0|    Normal|  170|             N|      0|      Up|           0|
| 45|  F|          ATA|      130|        237|        0|    Normal|  170|             N|      0|      Up|           0|
| 54|  M|          ATA|      110|        208|        0|    Normal|  142|             N|      0|      Up|           0|
| 37|  M|          ASY|      140|        207|        0|    Normal|  130|             Y|    1.5|    Flat|           1|
| 48|  F|          ATA|      120|        284|        0|    Normal|  120|             N|      0|      Up|           0|
| 37|  F|          NAP|      130|        211|        0|    Normal|  142|             N|      0|      Up|           0|
| 58|  M|          ATA|      136|        164|        0|        ST|   99|             Y|      2|    Flat|           1|
| 39|  M|          ATA|      120|        204|        0|    Normal|  145|             N|      0|      Up|           0|
| 49|  M|          ASY|      140|        234|        0|    Normal|  140|             Y|      1|    Flat|           1|
| 42|  F|          NAP|      115|        211|        0|        ST|  137|             N|      0|      Up|           0|
| 54|  F|          ATA|      120|        273|        0|    Normal|  150|             N|    1.5|    Flat|           0|
| 38|  M|          ASY|      110|        196|        0|    Normal|  166|             N|      0|    Flat|           1|
| 43|  F|          ATA|      120|        201|        0|    Normal|  165|             N|      0|      Up|           0|
| 60|  M|          ASY|      100|        248|        0|    Normal|  125|             N|      1|    Flat|           1|
| 36|  M|          ATA|      120|        267|        0|    Normal|  160|             N|      3|    Flat|           1|
+---+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+
only showing top 20 rows